VITE_FIREBASE_API_KEY=AIzaSyByRFbMIqTYGRKoUD-6YiwkqGQtJtZwYWI
VITE_FIREBASE_AUTH_DOMAIN=mit-fozzek.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mit-fozzek
KV_URL=
KV_REST_API_URL=
KV_REST_API_TOKEN=
KV_REST_API_READ_ONLY_TOKEN=
JWT_SECRET=your-secret-change-in-production
